@import './global.css';

/* Typography */
.heading {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--white);
}

.body {
  font-size: 2rem;
  font-weight: normal;
  color: var(--text-primary);
}

.body2 {
  font-size: 2rem;
  font-weight: normal;
  color: var(--white);
}

.caption {
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--secondary);
}

/* Sections */
.canvas {
  min-height: 100vh;
  background: rgb(32, 32, 43);
  background: linear-gradient(90deg, rgba(32, 32, 43, 1) 0%, rgba(26, 26, 36, 1) 100%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background: var(--primary);
  width: 30rem;
  margin: 0rem auto;
  border-radius: 2rem;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.header {
  background: var(--secondary);
  padding: 2.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.stations {
  padding: 2rem 1.5rem;

  height: 30rem;
  overflow: scroll;
  overflow-x: hidden;

  position: relative;
}

.stations::-webkit-scrollbar {
  width: 0.5em;
}

.stations::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}

/* remove the border bottom on the last station */
.stations > div:last-child > div:last-child {
  border-bottom: none;
}

.station {
  display: flex;
  justify-content: space-between;
  padding: 1.4rem 0;
  border-bottom: 1px solid #3e3e47;
  cursor: pointer;

  transition: 0.5s all ease;
}

.station:hover {
  background: var(--darker);
}

.player {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 2rem;
}

.avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 2px solid var(--white);
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  height: 8rem;
  padding: 2rem 1rem;

  background: var(--primary);

  border-top: 2px solid var(--dark);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;

  text-align: center;
}
